# Local env files
.env
.env.*
!.env.example

__pycache__
backend/.venv
backend/settings/.env
backend/middlewares/__pycache__
backend/services/routers/__pycache__
backend/services/__pycache__
backend/alembic.ini
backend/folder
backend/services/RUN_BACKEND.bat
backend/alembic

nuxt/pnpm-lock.yaml
.vscode
backend/routers/__pycache__